<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>reg_form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

<style>
    .reg_page{
    border: 4px solid white;
    padding-top:100px;
    padding-left:300px;
    padding-right:300px;
    padding-bottom:50px;
    }

    .user_error, .email_error, .password_error{
    color:red;
    }


    .success_msg{
    padding-top:2%;
    border: 2px white solid;
    color: blue;
    }
</style>
 <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

       <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">



</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->



 <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="home"><h2>Sixteen <em>Clothing</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="home">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="products">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </header>
<!--Header ends here-->



<!--from start here -->
    <div class="container">
        <form action="signup" method="post">
            {% csrf_token %}
            <div class="reg_page">
          <div class="mb-3">
            <label for="first_name" class="form-label"><h5>Full Name</h5></label>
            <input type="text" name="full_name" placeholder="Full Name" required class="form-control" id="first_name" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="last_name" class="form-label"><h5>User Name</h5></label>
            <input type="text" name="user_name" placeholder="User Name" required class="form-control" id="last_name">
                {% for alert in messages %}
              {% if alert.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="user_error"><em>{{alert}}</em></div>
              {%endif%}
               {% endfor %}
          </div>

           <div class="mb-3">
            <label for="email" class="form-label"><h5>Email Address</h5></label>
            <input type="email" name="email" placeholder="Email" required class="form-control" id="email">
               {% for alert in messages %}
               {% if alert.level == DEFAULT_MESSAGE_LEVELS.INFO %}
               <div class="email_error"><em>{{alert}}</em></div>
               {%endif%}
               {% endfor %}
           </div>

           <div class="mb-3">
            <label for="password1" class="form-label"><h5>Password</h5></label>
            <input type="password" name="password1" placeholder="Password" required class="form-control" id="password1">
           <small id="emailHelp" class="form-text text-muted">Password must include(Captial letter,Number,Symbols and length>7 ).</small>
           </div>

<!--            <div class="password_restrictions"><em>Must have(Captial letter,Number and Symbols)</em></div>-->
           <div class="mb-3">

            <label for="password2" class="form-label"><h5>Password(Again)</h5></label>
            <input type="password" name="password2" placeholder="Confirm Password" required class="form-control" id="password2">
               {% for alert in messages %}
               {% if alert.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
               <div class="password_error"><em>{{alert}}</em></div>
               {%endif%}
               {% endfor %}
           </div>

          <button type="submit" class="btn btn-primary">Submit</button>
            {% for alert in messages %}
               {% if alert.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <h4 class="success_msg"><em>{{alert}}</em></h4>
               {%endif%}
               {% endfor %}
                </div>
        </form>

</div>
<!--    from end here-->

   <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>


 <script language = 'text/Javascript'>
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
</body>
</html>